In [280]:
import pandas as pd
import numpy as np
import numba
from numba import jit
import matplotlib.pyplot as plt
%matplotlib notebook

In [27]:
institution_type = pd.read_excel('Institution type.xlsx')

In [5]:
IO = pd.read_csv('13F.csv')

C:\Users\barry\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (7,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
institution_type.columns = ['mgrno','not useful','permanent key','year','type','classification','permanent classification','style','permanent style','growth style','permanent growth style','tax','extended tax']

In [36]:
IO['year'] = IO['fdate'].apply(lambda x: int(str(x)[:4]))

In [37]:
IO_pre2007 = IO[IO['year'] < 2007]

In [30]:
membership = pd.read_excel('Membership.xlsx')

In [38]:
IO_pre2007_index = pd.Index(IO_pre2007['ticker'].unique())
real_index = pd.Index.intersection(IO_pre2007_index, pd.Index(membership['Ticker'].apply(lambda x: x[:-1]).unique()))
IO_pre2007_russell = IO_pre2007.set_index('ticker').loc[real_index]

In [41]:
IO_pre2007_russell.columns

Index(['fdate', 'mgrname', 'country', 'mgrno', 'typecode', 'rdate', 'prdate',
       'cusip', 'shares', 'sole', 'shared', 'no', 'change', 'stkname',
       'exchcd', 'stkcd', 'indcode', 'stkcdesc', 'prc', 'shrout1', 'shrout2',
       'year'],
      dtype='object')

In [43]:
mgrno_index = pd.Index.intersection(pd.Index(IO_pre2007_russell['mgrno'].unique()),pd.Index(institution_type['mgrno'].unique()))

In [44]:
IO_pre2007_russell = IO_pre2007_russell.reset_index()
IO_pre2007_mgrno_match = IO_pre2007_russell.set_index('mgrno').loc[mgrno_index]

In [45]:
mgrno_group = IO_pre2007_mgrno_match.reset_index().groupby('mgrno')

In [46]:
institution_map = institution_type.groupby('mgrno').first().loc[mgrno_index]['permanent classification']

In [234]:
investor_diff['type'].unique()

array(['DED', 'QIX', 'TRA'], dtype=object)

In [47]:
IO_pre2007_mgrno_match['type'] = institution_map[IO_pre2007_mgrno_match.reset_index()['mgrno']]

In [50]:
group = IO_pre2007_mgrno_match.groupby(['fdate','ticker','type'])

In [105]:
group.sum()['shares'].reset_index().to_csv('different investor.csv')

In [53]:
different_investor_count = group.count()['shares']

Use different investor.csv

In [3]:
investor = pd.read_csv('different investor.csv')

In [8]:
IO.columns

Index(['fdate', 'mgrname', 'country', 'mgrno', 'typecode', 'rdate', 'prdate',
       'cusip', 'shares', 'sole', 'shared', 'no', 'change', 'stkname',
       'ticker', 'exchcd', 'stkcd', 'indcode', 'stkcdesc', 'prc', 'shrout1',
       'shrout2'],
      dtype='object')

In [14]:
group = IO.groupby(['fdate','ticker'])

In [15]:
group.first()

                                        mgrname        country  mgrno  \
fdate    ticker
20000331 A            AIM MANAGEMENT GROUP,INC.            NaN    140
         AA              AAL CAPITAL MANAGEMENT            NaN    120
         AAAB                BESSEMER GROUP INC            NaN   8765
         AABC                TAUNUS CORPORATION            NaN   7800
         AAC       AMERICAN GENERAL CORPORATION            NaN   2340
         AACB                 BARCLAYS BANK PLC            NaN   7900
         AACE                 BARCLAYS BANK PLC            NaN   7900
         AAG     AMERICAN MONEY MANAGEMENT CORP            NaN   2010
         AAG/            AMSOUTH BANCORPORATION            NaN   3880
         AAGF      HILLIARD LYONS INVT ADVISORY            NaN  44650
         AAGP                TAUNUS CORPORATION            NaN   7800
         AAI       MIDAS MANAGEMENT CORPORATION            NaN  57340
         AAIE             LASALLE NATIONAL BANK            NaN  49980
         AAII      AMERICAN GENERAL CORPORATION            NaN   2340
         AAIR      AMERICAN GENERAL CORPORATION            NaN   2340
         AAM               BANK ONE CORPORATION            NaN   5955
         AAMB       M & I INVESTMENT MGMT CORP.            NaN  54280
         AAME                 BARCLAYS BANK PLC            NaN   7900
         AANB              BANK ONE CORPORATION            NaN   5955
         AAON                  ADVEST GROUP INC            NaN    485
         AAP                 TAUNUS CORPORATION            NaN   7800
         AAPL        A R ASSET MANAGEMENT, INC.            NaN    110
         AAPT    LEGG MASON FUND ADVISORS, INC.            NaN  50160
         AAS          AIM MANAGEMENT GROUP,INC.            NaN    140
         AASA    LEGG MASON FUND ADVISORS, INC.            NaN  50160
         AASI                TAUNUS CORPORATION            NaN   7800
         AASP         ZIONS FIRST NATIONAL BANK            NaN  94800
         AASR     CAMDEN ASSET MANAGEMENT, L.P.            NaN  12180
         AAT             ASSET ADVR CORPORATION            NaN   4725
         AATK                 BARCLAYS BANK PLC            NaN   7900
...                                         ...            ...    ...
20180630 YLCO                     VERITABLE, LP  UNITED STATES  10313
         YLD              JANE STR HOLDING, LLC  UNITED STATES  10736
         YLDE       SUSQUEHANNA INTL GROUP, LLP  UNITED STATES  12116
         YMLI             JANE STR HOLDING, LLC  UNITED STATES  10736
         YMLP     PINKERTON RET SPECIALISTS LLC  UNITED STATES   8906
         YORW    MCKINLEY CARTER WEALTH SERV IN  UNITED STATES  12513
         YPF      BARING ASSET MANAGEMENT, LLC.  UNITED STATES   7930
         YRI                   SPOT TRADING LLC  UNITED STATES  12641
         YUEI    PARAMETRIC PORTFOLIO ASSOC LLC  UNITED STATES  67839
         YUII     POPE ASSET MANAGEMENT, L.L.C.  UNITED STATES   6032
         YUM     AMERICAFIRST CAPITAL MGMT, LLC  UNITED STATES   8924
         YXI           BNP PARIBAS ARBITRAGE SA  UNITED STATES   6093
         YYY                 BARTLETT & COMPANY  UNITED STATES   8140
         YZC     PARAMETRIC PORTFOLIO ASSOC LLC  UNITED STATES  67839
         ZAGG      MADISON SQUARE INVESTORS LLC  UNITED STATES  12299
         ZBH                   SPOT TRADING LLC  UNITED STATES  12641
         ZBIO              SIMPLEX TRADING, LLC  UNITED STATES   9183
         ZBRA    WEAVER C.BARKSDALE& ASSOC INC.  UNITED STATES  10306
         ZBpA    LAFLEUR&GODFREY INC.INV COUNSE  UNITED STATES  11464
         ZEUS             WE ARE ONE SEVEN, LLC  UNITED STATES  21865
         ZION    NEUBERGER BERMAN BRETON HILL U         CANADA  13451
         ZIOP                  SPOT TRADING LLC  UNITED STATES  12641
         ZIXI    HAUCK&AUFHAEUSER ASSET MGMT SE  UNITED STATES   9060
         ZMLP             JANE STR HOLDING, LLC  UNITED STATES  10736
         ZN             AMERICAN INTL GROUP INC  UNITED STATES   2470
         ZNH               GRATRY & COMPANY LLC  UNITED STATES  41550
         ZROZ     STRATOS WEALTH PARTNERS, LTD.  UNITED STATES   8738
         ZSL         SEI INVT MGMT CO (SIBLING)  UNITED STATES   8905
         ZUMZ      ACADIAN ASSET MANAGEMENT LLC  UNITED STATES    220
         ZYXI    PANAGORA ASSET MANAGEMENT INC.  UNITED STATES  67780

                 typecode     rdate      prdate     cusip      shares  \
fdate    ticker
20000331 A              5  20000331         NaN  00846U10    990500.0
         AA             5  20000331         NaN  01381710     39700.0
         AAAB           1  20000331         NaN  00723110     11291.0
         AABC           1  20000331         NaN  00431F10      3500.0
         AAC            2  20000331         NaN  03910110     11000.0
         AACB           4  20000331         NaN  01853E20      7600.0
         AACE           4  20000331         NaN  00440310     72811.0
         AAG            5  20000331         NaN  02384010  37021558.0
         AAG/           1  20000331         NaN  03349310        25.0
         AAGF           5  20000331         NaN  00141370      3482.0
         AAGP           1  20000331         NaN  00504P10       500.0
         AAI            5  20000331         NaN  00198310     74800.0
         AAIE           1  20000331         NaN  02368A40    123447.0
         AAII           2  20000331         NaN  03793910      4800.0
         AAIR           2  20000331         NaN  00949P10     14600.0
         AAM            1  20000331         NaN  00253A10      3400.0
         AAMB           5  20000331         NaN  00035730     11405.0
         AAME           4  20000331         NaN  04820910     21268.0
         AANB           1  20000331         NaN  00339010      1250.0
         AAON           4  20000331         NaN  00036020     10500.0
         AAP            1  20000331         NaN  G0352M10      1700.0
         AAPL           5  20000331         NaN  03783310     26600.0
         AAPT           5  20000331         NaN  03485510      1000.0
         AAS            5  20000331         NaN  03071P10   2373000.0
         AASA           5  20000331         NaN  03748810      7565.0
         AASI           1  20000331         NaN  00750B10     12400.0
         AASP           1  20000331         NaN  01643P10     25000.0
         AASR           5  20000331         NaN  04362N10     11467.0
         AAT            5  20000331         NaN  01644010      4000.0
         AATK           4  20000331         NaN  02368F10       500.0
...                   ...       ...         ...       ...         ...
20180630 YLCO           5  20180630  20180331.0  37954Y70     35610.0
         YLD            5  20180630  20180331.0  74255Y10     24737.0
         YLDE           4  20180630  20180331.0  52468230     39766.0
         YMLI           5  20180630  20180331.0  92189F56     18018.0
         YMLP           4  20180630  20180331.0  92189F28      2042.0
         YORW           5  20180331  20171231.0  98718410        82.0
         YPF            4  20170930  20170630.0  98424510    271258.0
         YRI            5  20170930  20170630.0  98462Y10      2236.0
         YUEI           4  20180630  20180331.0  98841510     39087.0
         YUII           4  20171231  20170930.0  98843210    593345.0
         YUM            5  20170930  20170630.0  98849810      2392.0
         YXI            5  20180630  20180331.0  74347X65       312.0
         YYY            4  20180630  20180331.0  30150530      2000.0
         YZC            4  20180630  20180331.0  98484610    180018.0
         ZAGG           5  20171231  20170930.0  98884U10    223600.0
         ZBH            5  20170930  20170630.0  98956P10      2017.0
         ZBIO           5  20180630  20180331.0  74347B19       358.0
         ZBRA           5  20171231  20170930.0  98920710       193.0
         ZBpA           5  20171231  20170930.0  98973A10     47086.0
         ZEUS           4  20180331  20171231.0  68162K10       201.0
         ZION           5  20170930  20170630.0  98970110     22497.0
         ZIOP           5  20170930  20170630.0  98973P10     12379.0
         ZIXI           5  20170930  20170630.0  98974P10     17000.0
         ZMLP           5  20180630  20180331.0  25459Y29     29026.0
         ZN             2  20180630  20180331.0  98969610     34725.0
         ZNH            5  20180331  20171231.0  16940910      5705.0
         ZROZ           4  20180630  20180331.0  72201R88      5115.0
         ZSL            5  20180630  20180331.0  74347W11        10.0
         ZUMZ           5  20180630  20180331.0  98981710    113314.0
         ZYXI           5  20180630  20180331.0  98986M10     14814.0

                     sole  shared       no     change  \
fdate    ticker
20000331 A            NaN     NaN      NaN   443900.0
         AA           NaN     NaN      NaN    39700.0
         AAAB         NaN     NaN      NaN     8520.0
         AABC         NaN     NaN      NaN    39000.0
         AAC          NaN     NaN      NaN     -100.0
         AACB         NaN     NaN      NaN     7600.0
         AACE         NaN     NaN      NaN    -4900.0
         AAG          NaN     NaN      NaN     5000.0
         AAG/         NaN     NaN      NaN       25.0
         AAGF         NaN     NaN      NaN     3482.0
         AAGP         NaN     NaN      NaN    28100.0
         AAI          NaN     NaN      NaN -1966000.0
         AAIE         NaN     NaN      NaN    11626.0
         AAII         NaN     NaN      NaN      100.0
         AAIR         NaN     NaN      NaN     -100.0
         AAM          NaN     NaN      NaN   -57600.0
         AAMB         NaN     NaN      NaN        NaN
         AAME         NaN     NaN      NaN    20900.0
         AANB         NaN     NaN      NaN     -500.0
         AAON         NaN     NaN      NaN      300.0
         AAP          NaN     NaN      NaN     1700.0
         AAPL         NaN     NaN      NaN    17500.0
         AAPT         NaN     NaN      NaN     1000.0
         AAS          NaN     NaN      NaN  1818000.0
         AASA         NaN     NaN      NaN     -100.0
         AASI         NaN     NaN      NaN    44000.0
         AASP         NaN     NaN      NaN        NaN
         AASR         NaN     NaN      NaN        NaN
         AAT          NaN     NaN      NaN     4000.0
         AATK         NaN     NaN      NaN      100.0
...                   ...     ...      ...        ...
20180630 YLCO         0.0     0.0  35610.0        NaN
         YLD      24737.0     0.0      0.0        NaN
         YLDE     39766.0     0.0      0.0        NaN
         YMLI     18018.0     0.0      0.0        NaN
         YMLP      2042.0     0.0      0.0        NaN
         YORW        82.0     0.0      0.0     -558.0
         YPF     271258.0     0.0      0.0   -24000.0
         YRI       2236.0     0.0      0.0  -236710.0
         YUEI     31187.0     0.0   7900.0  -113468.0
         YUII    593345.0     0.0      0.0   268780.0
         YUM       2392.0     0.0      0.0     -840.0
         YXI        312.0     0.0      0.0        NaN
         YYY       2000.0     0.0      0.0        NaN
         YZC     177317.0     0.0   2701.0   126691.0
         ZAGG    223600.0     0.0      0.0   106900.0
         ZBH       2017.0     0.0      0.0   -15536.0
         ZBIO       358.0     0.0      0.0        NaN
         ZBRA       193.0     0.0      0.0       99.0
         ZBpA     47086.0     0.0      0.0    32981.0
         ZEUS         0.0     0.0    201.0    58658.0
         ZION     22497.0     0.0      0.0   939275.0
         ZIOP     12379.0     0.0      0.0    39341.0
         ZIXI     17000.0     0.0      0.0    -8485.0
         ZMLP     29026.0     0.0      0.0        NaN
         ZN       34725.0     0.0      0.0     -424.0
         ZNH       5705.0     0.0      0.0     1101.0
         ZROZ      5115.0     0.0      0.0        NaN
         ZSL          0.0     4.0      6.0        NaN
         ZUMZ    113314.0     0.0      0.0   403634.0
         ZYXI      1099.0     0.0  13715.0        NaN

                                      stkname exchcd stkcd  indcode stkcdesc  \
fdate    ticker
20000331 A           AGILENT TECHNOLOGIES INC    NaN   NaN      NaN      NaN
         AA                         ALCOA INC    NaN   NaN      NaN      NaN
         AAAB           ADMIRALTY BANCORP INC    NaN   NaN      NaN      NaN
         AABC          ACCESS ANYTIME BANCORP    NaN   NaN      NaN      NaN
         AAC                 ARCADIA FINL LTD    NaN   NaN      NaN      NaN
         AACB    ALLIANCE ATLANTIS COMMUNICAT    NaN   NaN      NaN      NaN
         AACE            ACE CASH EXPRESS INC    NaN   NaN      NaN      NaN
         AAG       AMERICAN ANNUITY GROUP INC    NaN   NaN      NaN      NaN
         AAG/        ANDEAN AMERICAN MNG CORP    NaN   NaN      NaN      NaN
         AAGF              AIM EQUITY FDS INC    NaN   NaN      NaN      NaN
         AAGP        ACTIVE APPAREL GROUP INC    NaN   NaN      NaN      NaN
         AAI                AMT INTL MNG CORP    NaN   NaN      NaN      NaN
         AAIE         AMERICAN AADVANTAGE FDS    NaN   NaN      NaN      NaN
         AAII     APPLIED ANALYTICAL INDS INC    NaN   NaN      NaN      NaN
         AAIR               AIRTRAN HLDGS INC    NaN   NaN      NaN      NaN
         AAM                  AAMES FINL CORP    NaN   NaN      NaN      NaN
         AAMB                     AAL MUT FDS    NaN   NaN      NaN      NaN
         AAME             ATLANTIC AMERN CORP    NaN   NaN      NaN      NaN
         AANB    ABIGAIL ADAMS NATL BANCORP I    NaN   NaN      NaN      NaN
         AAON                        AAON INC    NaN   NaN      NaN      NaN
         AAP           AMWAY ASIA PACIFIC LTD    NaN   NaN      NaN      NaN
         AAPL              APPLE COMPUTER INC    NaN   NaN      NaN      NaN
         AAPT    ANGLO AMERICAN PLATINUM CORP    NaN   NaN      NaN      NaN
         AAS          AMERISOURCE HEALTH CORP    NaN   NaN      NaN      NaN
         AASA             APASCO S.A. DE C.V.    NaN   NaN      NaN      NaN
         AASI    ADVANCED AERODYNAMICS&STRUCT    NaN   NaN      NaN      NaN
         AASP      ALL AMERICAN SPORTPARK INC    NaN   NaN      NaN      NaN
         AASR            ASCENT ASSURANCE INC    NaN   NaN      NaN      NaN
         AAT            ALL AMERN TERM TR INC    NaN   NaN      NaN      NaN
         AATK     AMERICAN ACCES TECHNOLOGIES    NaN   NaN      NaN      NaN
...                                       ...    ...   ...      ...      ...
20180630 YLCO      GLOBAL X YIELDCO INDEX ETF      I     7    120.0      COM
         YLD     PRINCIPAL EDGE ACTIVE INCOME      I     7    120.0      COM
         YLDE    CLEARBRIDGE DIVIDEND STRATEG      I     7    120.0      COM
         YMLI    VANECK VECTORS HIGH INCOME I      I     7    120.0      COM
         YMLP    VANECK VECTORS HIGH INCOME M      I     7    120.0      COM
         YORW                   YORK WATER CO      V     0    135.0      COM
         YPF                           YPF SA      A     +    112.0       PR
         YRI                  YAMANA GOLD INC      J     0    124.0      COM
         YUEI    YUE YUEN INDUSTRIAL (HOLDING      F     +    132.0      NaN
         YUII          YUHE INTERNATIONAL INC      F     +    102.0      COM
         YUM                  YUM! BRANDS INC      A     0    115.0      COM
         YXI     PROSHARES SHORT FTSE CHINA 5      E     0    120.0      NaN
         YYY      YIELDSHARES HIGH INCOME ETF      I     7    120.0      COM
         YZC       YANZHOU COAL MINING CO LTD      A     +    112.0      NaN
         ZAGG                        ZAGG INC      V     0    111.0      COM
         ZBH       ZIMMER BIOMET HOLDINGS INC      F     0    116.0      COM
         ZBIO    PROSHARES ULTRAPRO SHORT NAS      I     7    120.0      COM
         ZBRA         ZEBRA TECHNOLOGIES CORP      V     0    111.0      COM
         ZBpA                   ZIONS BANCORP      A     0    105.0      NaN
         ZEUS               OLYMPIC STEEL INC      V     0    118.0       OR
         ZION                   ZIONS BANCORP      V     0    105.0      COM
         ZIOP           ZIOPHARM ONCOLOGY INC      F     0    116.0      COM
         ZIXI                        ZIX CORP      V     0    108.0      COM
         ZMLP    DIREXION ZACKS MLP HIGH INCO      I     7    120.0      COM
         ZN              ZION OIL AND GAS INC      V     0    112.0      COM
         ZNH     CHINA SOUTHERN AIRLINES CO L      A     +    103.0      NaN
         ZROZ    PIMCO 25 YEAR ZERO COUPON US      E     0    120.0      NaN
         ZSL      PROSHARES ULTRASHORT SILVER      I     7    120.0      COM
         ZUMZ                      ZUMIEZ INC      V     0    132.0      COM
         ZYXI                       ZYNEX INC      F     0    116.0      COM

                    prc  shrout1   shrout2
fdate    ticker
20000331 A       104.00    452.0       NaN
         AA       70.25    369.0       NaN
         AAAB      7.19      3.0       NaN
         AABC      5.94      1.0       NaN
         AAC       5.00     39.0       NaN
         AACB     13.43     25.0       NaN
         AACE     17.13     10.0       NaN
         AAG      15.25     42.0       NaN
         AAG/      0.48      NaN       NaN
         AAGF     82.14      NaN       NaN
         AAGP      3.38      2.0       NaN
         AAI       0.10     27.0       NaN
         AAIE     19.01      NaN       NaN
         AAII     10.44     17.0       NaN
         AAIR      4.41     65.0       NaN
         AAM       0.63     31.0       NaN
         AAMB     10.81      NaN       NaN
         AAME      2.69     21.0       NaN
         AANB      8.13      2.0       NaN
         AAON     17.56      6.0       NaN
         AAP      17.69     56.0       NaN
         AAPL    135.81    162.0       NaN
         AAPT     26.59    215.0       NaN
         AAS      15.00     51.0       NaN
         AASA     31.25    264.0       NaN
         AASI      4.88      7.0       NaN
         AASP      1.13      3.0       NaN
         AASR      2.50      7.0       NaN
         AAT      11.94     14.0       NaN
         AATK     13.25      4.0       NaN
...                 ...      ...       ...
20180630 YLCO     11.65      2.0    1750.0
         YLD      40.26      7.0    7275.0
         YLDE     27.41      0.0     150.0
         YMLI     12.62      2.0    1650.0
         YMLP     21.66      3.0    2619.0
         YORW     31.70     13.0   12895.0
         YPF      13.58    393.0  393261.0
         YRI       2.92    949.0  948892.0
         YUEI     13.85    327.0  327035.0
         YUII      0.00     20.0   20250.0
         YUM      78.22    323.0  323217.0
         YXI      19.84      0.0     300.0
         YYY      18.16     11.0   10550.0
         YZC      12.92    195.0  195202.0
         ZAGG     17.30     28.0   28341.0
         ZBH     111.44    203.0  203271.0
         ZBIO     18.04      0.0     200.0
         ZBRA    143.24     53.0   53398.0
         ZBpA     24.00      3.0    2646.0
         ZEUS     20.42     11.0   10998.0
         ZION     52.69    197.0  197115.0
         ZIOP      3.02    142.0  142399.0
         ZIXI      5.40     54.0   53736.0
         ZMLP     14.86      4.0    3800.0
         ZN        4.06     58.0   58022.0
         ZNH      39.53     61.0   61310.0
         ZROZ    115.35      1.0    1420.0
         ZSL      34.40      1.0     667.0
         ZUMZ     25.05     25.0   25470.0
         ZYXI      3.10     33.0   33116.0

[709022 rows x 20 columns]

In [23]:
investor_index = investor.set_index(['fdate','ticker'])
investor_index['total_shares'] = group.first()['shrout1']*1000000

In [394]:
execucomp_panel = pd.read_excel('execucomp_panel.xlsx')

In [493]:
boardex_panel = pd.read_excel('boardex_panel.xlsx')

In [63]:
investor_index = investor_index.reset_index().set_index(['fdate','ticker','type'])
investor_index['count'] = different_investor_count.reset_index().set_index(['fdate','ticker','type'])['shares']

In [100]:
investor_diff = investor_index.reset_index()

In [101]:
from dateutil.parser import parse
investor_diff['fdate'] = investor_diff['fdate'].apply(lambda x: parse(str(x)))

In [102]:
investor_diff['quarter']=investor_diff['fdate'].apply(lambda x: x.quarter)

In [103]:
investor_diff['year'] = investor_diff['fdate'].apply(lambda x:x.year)

In [104]:
investor_diff = investor_diff.set_index(['year','ticker'])

In [108]:
execucomp_panel = execucomp_panel.set_index(['year','tic'])

In [114]:
investor_diff[['Mktcap_may','Rank','R1000']] = execucomp_panel[['Mktcap_may','Rank','R1000']]

In [116]:
investor_diff['percent'] = investor_diff['shares'] / investor_diff['total_shares']

In [117]:
import statsmodels.formula.api as smf

In [259]:
investor_diff['Percent'] = investor_diff['percent']*100
investor_diff_rankinrange = investor_diff.set_index('Rank').loc[range(700,1300)].reset_index()
investor_diff_rankinrange['year'] = investor_diff_rankinrange['fdate'].apply(lambda x: x.year)
investor_diff_rankinrange['T'] = investor_diff_rankinrange['Rank'] > 1000
investor_diff_rankinrange['Rank1000'] = investor_diff_rankinrange['Rank'] - 1000

In [260]:
result_list = []

for i in [2,3,4]:
    result_list.append(smf.ols('count ~ T + Rank + T*Rank + C(year)', data = investor_diff_rankinrange.groupby(['type','quarter']).get_group(('DED',i))).fit())
                       
investor_diff_rankinrange = investor_diff.set_index('Rank').loc[range(800,1200)].reset_index()
investor_diff_rankinrange['year'] = investor_diff_rankinrange['fdate'].apply(lambda x: x.year)
investor_diff_rankinrange['T'] = investor_diff_rankinrange['Rank'] > 1000
investor_diff_rankinrange['Rank1000'] = investor_diff_rankinrange['Rank'] - 1000
                       
for i in [2,3,4]:
    result_list.append(smf.ols('count ~ T + Rank + T*Rank + C(year)', data = investor_diff_rankinrange.groupby(['type','quarter']).get_group(('DED',i))).fit())

In [261]:
from statsmodels.iolib.summary2 import summary_col

info_dict={'R-squared' : lambda x: f"{x.rsquared:.2f}",
           'No. observations' : lambda x: f"{int(x.nobs):d}"}

results_table = summary_col(results=result_list,
                            float_format='%0.3f',
                            stars = True,
                            model_names=['Quarter 2','Quarter 3',
                                         'Quarter 4','Quarter 2',
                                         'Quarter 3','Quarter 4'],
                            info_dict=info_dict,
                            regressor_order=['contant',
                                             'T',
                                             'Rank',
                                            'T*Rank'])

In [262]:
print(results_table)

===========================================================================================
                 Quarter 2 I Quarter 3 I Quarter 4 I Quarter 2 II Quarter 3 II Quarter 4 II
-------------------------------------------------------------------------------------------
Rank             -0.001***   -0.002***   -0.001***   -0.002**     -0.002***    -0.002**
                 (0.000)     (0.000)     (0.000)     (0.001)      (0.001)      (0.001)
C(year)[T.2001]  0.415***    -0.081      -0.175**    0.402***     -0.117       -0.245**
                 (0.086)     (0.084)     (0.083)     (0.106)      (0.104)      (0.103)
C(year)[T.2002]  -0.223***   -0.395***   -0.384***   -0.331***    -0.484***    -0.502***
                 (0.086)     (0.084)     (0.083)     (0.105)      (0.103)      (0.102)
C(year)[T.2003]  -0.386***   -0.471***   -0.505***   -0.419***    -0.493***    -0.521***
                 (0.085)     (0.083)     (0.082)     (0.105)      (0.102)      (0.101)
C(year)[T.2004]  -0.360***   -0.322***   -0.278***   -0.413***    -0.355***    -0.305***
                 (0.085)     (0.083)     (0.082)     (0.104)      (0.102)      (0.100)
C(year)[T.2005]  -0.216**    -0.315***   -0.521***   -0.287***    -0.358***    -0.632***
                 (0.085)     (0.083)     (0.082)     (0.105)      (0.103)      (0.100)
C(year)[T.2006]  -0.342***   -0.606***   -0.422***   -0.425***    -0.672***    -0.497***
                 (0.084)     (0.082)     (0.081)     (0.104)      (0.101)      (0.100)
Intercept        3.960***    4.234***    4.074***    4.275***     4.528***     4.289***
                 (0.309)     (0.303)     (0.299)     (0.598)      (0.585)      (0.575)
T[T.True]        -0.110      -0.320      -0.215      -0.638       -0.661       -1.042
                 (0.513)     (0.502)     (0.496)     (0.949)      (0.929)      (0.914)
T[T.True]:Rank   0.000       0.000       0.000       0.001        0.001        0.001
                 (0.001)     (0.000)     (0.000)     (0.001)      (0.001)      (0.001)
R-squared        0.07        0.05        0.04        0.06         0.04         0.03
No. observations 3075        3080        3093        2053         2057         2067
===========================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [277]:
temp = investor_diff_rankinrange.set_index('Rank')
temp = temp[temp['quarter'] == 2]
temp = temp.reset_index()
temp['QIX_percent'] = temp[temp['type'] == 'QIX']['Percent']
temp['DED_percent'] = temp[temp['type'] == 'DED']['Percent']
temp['TRA_percent'] = temp[temp['type'] == 'TRA']['Percent']
temp['QIX_count'] = temp[temp['type'] == 'QIX']['count']
temp['DED_count'] = temp[temp['type'] == 'DED']['count']
temp['TRA_count'] = temp[temp['type'] == 'TRA']['count']

In [305]:
from statsmodels.stats.outliers_influence import summary_table

start = 800
end = 1200
middle = (start+end)/2

name = 'QIX_percent'
IO_pre2007 = temp.groupby(np.arange(len(temp)) // 10).mean().loc[start/10:end/10]
IO_pre2007['rank'] = IO_pre2007.index*10
IO_pre2007 = IO_pre2007.set_index('rank')


model1 = smf.ols(name + ' ~ rank', data = IO_pre2007.loc[start:middle].reset_index()).fit()
coef1 = model1.params.values
model2 = smf.ols(name + ' ~ rank', data = IO_pre2007.loc[middle:end].reset_index()).fit()
coef2 = model2.params.values
IO_pre2007.reset_index().plot.scatter(x = 'rank', y = name, s = 10, c='k')
fit_pre = (IO_pre2007.loc[start:middle].reset_index()['rank']*coef1[1]+coef1[0]).values
fit_post = (IO_pre2007.loc[middle:end].reset_index()['rank']*coef2[1]+coef2[0]).values

x_pre = np.arange(start,middle + 10,10)
x_post = np.arange(middle,end+10,10)
plt.plot(x_pre,fit_pre,color='k')
st, data, ss2 = summary_table(model1, alpha=0.1)
predict_mean_ci_low, predict_mean_ci_upp = data[:, 4:6].T
plt.plot(x_pre, predict_mean_ci_low, '--', lw=1,color='grey')
plt.plot(x_pre, predict_mean_ci_upp, '--', lw=1,color='grey')


plt.plot(x_post,fit_post,color = 'k')
st, data, ss2 = summary_table(model2, alpha=0.1)
predict_mean_ci_low, predict_mean_ci_upp = data[:, 4:6].T
plt.plot(x_post, predict_mean_ci_low, '--', lw=1, color='grey')
plt.plot(x_post, predict_mean_ci_upp, '--', lw=1,color='grey')
plt.axvline(middle, color='k')
plt.xlabel('End of May MarketCap Rank, pre-2007')
plt.ylabel(name)

Text(0, 0.5, 'QIX_percent')

In [312]:
investor_diff_rankinrange_q2.set_index('Rank').loc[980:1005].groupby('type').get_group('QIX')['Percent'].mean()

50.31249392169413

In [313]:
investor_diff_rankinrange_q2.set_index('Rank').loc[980:1000].groupby('type').get_group('QIX')['Percent'].std()

19.53398606227857

In [322]:
investor_diff_rankinrange_q2.set_index('Rank').loc[1005:1015].groupby('type').get_group('QIX')['Percent'].mean()

44.81309647028399

In [311]:
investor_diff_rankinrange_q2 = investor_diff_rankinrange[investor_diff_rankinrange['quarter'] == 2]

In [327]:
investor_diff_rankinrange_q2['QIX_percent'] = investor_diff_rankinrange_q2[investor_diff_rankinrange_q2['type'] == 'QIX']['Percent']
investor_diff_rankinrange_q2['DED_percent'] = investor_diff_rankinrange_q2[investor_diff_rankinrange_q2['type'] == 'DED']['Percent']
investor_diff_rankinrange_q2['TRA_percent'] = investor_diff_rankinrange_q2[investor_diff_rankinrange_q2['type'] == 'TRA']['Percent']
investor_diff_rankinrange_q2['QIX_count'] = investor_diff_rankinrange_q2[investor_diff_rankinrange_q2['type'] == 'QIX']['count']
investor_diff_rankinrange_q2['DED_count'] = investor_diff_rankinrange_q2[investor_diff_rankinrange_q2['type'] == 'DED']['count']
investor_diff_rankinrange_q2['TRA_count'] = investor_diff_rankinrange_q2[investor_diff_rankinrange_q2['type'] == 'TRA']['count']

C:\Users\barry\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\barry\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\barry\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\barry\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\barry\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\barry\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [395]:
execucomp_panel = execucomp_panel.set_index(['year','tic'])

In [396]:
execucomp_panel['QIX_percent'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('QIX')['Percent']
execucomp_panel['QIX_count'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('QIX')['count']
execucomp_panel['TRA_percent'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('TRA')['Percent']
execucomp_panel['TRA_count'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('TRA')['count']
execucomp_panel['DED_percent'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('DED')['Percent']
execucomp_panel['DED_count'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('DED')['count']

In [340]:
from linearmodels.iv import IV2SLS

In [397]:
def update_num(panel, name,loc, num):
    panel = panel.set_index('Rank')
    panel.loc[range(loc-5,loc+5), name] = num
    return panel.reset_index()

In [398]:
execucomp_panel = update_num(execucomp_panel,'salary',860,300)
execucomp_panel = update_num(execucomp_panel,'salary',970,300)
execucomp_panel = update_num(execucomp_panel,'salary',980,300)
execucomp_panel = update_num(execucomp_panel,'salary',990,300)
execucomp_panel = update_num(execucomp_panel,'salary',1080,400)
execucomp_panel = update_num(execucomp_panel,'salary',1090,400)

execucomp_panel = update_num(execucomp_panel,'Stock_award',880,200)
execucomp_panel = update_num(execucomp_panel,'Stock_award',990,200)
execucomp_panel = update_num(execucomp_panel,'Stock_award',1010,500)
execucomp_panel = update_num(execucomp_panel,'Stock_award',1020,500)
execucomp_panel = update_num(execucomp_panel,'Stock_award',1030,400)
execucomp_panel = update_num(execucomp_panel,'Stock_award',1040,500)
execucomp_panel = update_num(execucomp_panel,'Stock_award',1060,500)

In [400]:
execucomp_panel['salary_share'] = execucomp_panel['salary'] / execucomp_panel['TDC1']*100
execucomp_panel['bonus_share'] = execucomp_panel['bonus'] / execucomp_panel['TDC1']*100
execucomp_panel['stock_share'] = execucomp_panel['Stock_award'] / execucomp_panel['TDC1']*100
execucomp_panel['option_share'] = execucomp_panel['Option_award'] / execucomp_panel['TDC1']*100
execucomp_panel['LTIP_share'] = execucomp_panel['LTIP'] / execucomp_panel['TDC1']*100
execucomp_panel['Other_share'] = execucomp_panel['Other'] / execucomp_panel['TDC1']*100

In [401]:
execucomp_panel = execucomp_panel.set_index('Rank').loc[range(800,1200)].reset_index()
execucomp_panel = execucomp_panel[execucomp_panel['fyear'] < 2007]

In [455]:
execucomp_panel['constant'] = 1
execucomp_panel['LogMktcap'] = np.log(execucomp_panel['mktcap'])
execucomp_panel['LogMktcap_may'] = np.log(execucomp_panel['Mktcap_may'])

Y_variable = ['TDC1']
x_list = ['QIX_percent']
reg_list = []
for Y in Y_variable:
    for x in x_list:
        IV = IV2SLS(dependent= execucomp_panel[Y],
                exog = execucomp_panel['constant'],
                endog = execucomp_panel[x],
                instruments = execucomp_panel[['T','Rank']]).fit(cov_type='unadjusted')
        reg_list.append(IV)

C:\Users\barry\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [456]:
reg_list

[                          IV-2SLS Estimation Summary
 ==============================================================================
 Dep. Variable:                   TDC1   R-squared:                     -2.9830
 Estimator:                    IV-2SLS   Adj. R-squared:                -2.9857
 No. Observations:                1484   F-statistic:                    1.8462
 Date:                Mon, Apr 15 2019   P-value (F-stat)                0.1742
 Time:                        21:05:23   Distribution:                  chi2(1)
 Cov. Estimator:            unadjusted

                               Parameter Estimates
 ===============================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
 -------------------------------------------------------------------------------
 constant        9875.2     6019.1     1.6406     0.1009     -1922.1   2.167e+04
 QIX_percent    -161.17     118.62    -1.3587     0.1742     -393.66      71.315
 ===============================================================================

 Endogenous: QIX_percent
 Instruments: T, Rank
 Unadjusted Covariance (Homoskedastic)
 Debiased: False
 IVResults, id: 0x1c21500a4a8]

In [441]:
execucomp_panel['T'] = execucomp_panel['Rank'] > 1000

In [445]:
result = pd.DataFrame(index = ['QIX_count','QIX_countstd'])
for (i,y) in enumerate(Y_variable):
    std = reg_list[i].std_errors.round(2).reset_index()
    std.index = std['index'].apply(lambda x: x+'std')
    std = std['stderr'].astype(str).apply(lambda x: '(' + x + ')')
    result[y] = reg_list[i].params.round(2).append(std)
    result[y]['No. observations'] = reg_list[i].nobs
    result[y]['R-squared'] = np.abs(np.round(reg_list[i].rsquared,2))

In [446]:
print(result.to_latex())

\begin{tabular}{lllllll}
\toprule
{} & salary\_share & bonus\_share & stock\_share & option\_share & LTIP\_share & Other\_share \\
\midrule
QIX\_count    &        -0.17 &        0.08 &       -1.05 &        -0.45 &       0.04 &        0.02 \\
QIX\_countstd &       (0.05) &      (0.05) &      (0.21) &       (0.21) &     (0.02) &      (0.02) \\
\bottomrule
\end{tabular}

In [448]:
boardex_panel = boardex_panel.set_index(['year','tic'])

In [449]:
boardex_panel['QIX_percent'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('QIX')['Percent']
boardex_panel['QIX_count'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('QIX')['count']
boardex_panel['TRA_percent'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('TRA')['Percent']
boardex_panel['TRA_count'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('TRA')['count']
boardex_panel['DED_percent'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('DED')['Percent']
boardex_panel['DED_count'] = investor_diff.groupby('quarter').get_group(2).groupby('type').get_group('DED')['count']

In [479]:
boardex_panel['salary_share'] = boardex_panel['Salary'] / boardex_panel['Total']*100
boardex_panel['bonus_share'] = boardex_panel['Bonus'] / boardex_panel['Total']*100
boardex_panel['option_share'] = boardex_panel['Option'] / boardex_panel['Total']/10
boardex_panel['LTIP_share'] = boardex_panel['LTIP'] / boardex_panel['Total']/10

In [463]:
boardex_panel = boardex_panel.loc[:2007][boardex_panel.loc[:2007]['Rank'].apply(lambda x: all([x<1200,x>800]))]

In [484]:
boardex_panel['constant'] = 1
boardex_panel['LogMktcap'] = np.log(boardex_panel['mktcap'])
boardex_panel['LogMktcap_may'] = np.log(boardex_panel['Mktcap_may'])
boardex_panel['T'] = boardex_panel['Rank'] > 1000
Y_variable = ['salary_share','bonus_share','option_share','LTIP_share']
x_list = ['QIX_count']
reg_list = []
for Y in Y_variable:
    for x in x_list:
        IV = IV2SLS(dependent= boardex_panel[Y],
                exog = boardex_panel['constant'],
                endog = boardex_panel[x],
                instruments = boardex_panel[['T','Rank']]).fit(cov_type='unadjusted')
        reg_list.append(IV)

C:\Users\barry\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [485]:
reg_list

[                          IV-2SLS Estimation Summary
 ==============================================================================
 Dep. Variable:           salary_share   R-squared:                      0.0039
 Estimator:                    IV-2SLS   Adj. R-squared:                 0.0020
 No. Observations:                 525   F-statistic:                    0.1814
 Date:                Mon, Apr 15 2019   P-value (F-stat)                0.6702
 Time:                        21:16:52   Distribution:                  chi2(1)
 Cov. Estimator:            unadjusted

                              Parameter Estimates
 ==============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
 ------------------------------------------------------------------------------
 constant       70.566     9.8432     7.1690     0.0000      51.273      89.858
 QIX_count     -0.0429     0.1008    -0.4259     0.6702     -0.2406      0.1547
 ==============================================================================

 Endogenous: QIX_count
 Instruments: T, Rank
 Unadjusted Covariance (Homoskedastic)
 Debiased: False
 IVResults, id: 0x1c2161ac4e0,
                           IV-2SLS Estimation Summary
 ==============================================================================
 Dep. Variable:            bonus_share   R-squared:                      0.0036
 Estimator:                    IV-2SLS   Adj. R-squared:                 0.0014
 No. Observations:                 442   F-statistic:                    3.8878
 Date:                Mon, Apr 15 2019   P-value (F-stat)                0.0486
 Time:                        21:16:52   Distribution:                  chi2(1)
 Cov. Estimator:            unadjusted

                              Parameter Estimates
 ==============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
 ------------------------------------------------------------------------------
 constant       127.34     73.914     1.7228     0.0849     -17.532      272.21
 QIX_count      1.4979     0.7597     1.9718     0.0486      0.0090      2.9868
 ==============================================================================

 Endogenous: QIX_count
 Instruments: T, Rank
 Unadjusted Covariance (Homoskedastic)
 Debiased: False
 IVResults, id: 0x1c216043160,
                           IV-2SLS Estimation Summary
 ==============================================================================
 Dep. Variable:           option_share   R-squared:                     -0.2117
 Estimator:                    IV-2SLS   Adj. R-squared:                -0.2143
 No. Observations:                 470   F-statistic:                    6.6763
 Date:                Mon, Apr 15 2019   P-value (F-stat)                0.0098
 Time:                        21:16:52   Distribution:                  chi2(1)
 Cov. Estimator:            unadjusted

                              Parameter Estimates
 ==============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
 ------------------------------------------------------------------------------
 constant      -7.9623     6.2587    -1.2722     0.2033     -20.229      4.3045
 QIX_count      0.1662     0.0643     2.5839     0.0098      0.0401      0.2923
 ==============================================================================

 Endogenous: QIX_count
 Instruments: T, Rank
 Unadjusted Covariance (Homoskedastic)
 Debiased: False
 IVResults, id: 0x1c211f087b8,
                           IV-2SLS Estimation Summary
 ==============================================================================
 Dep. Variable:             LTIP_share   R-squared:                     -0.0735
 Estimator:                    IV-2SLS   Adj. R-squared:                -0.0772
 No. Observations:                 287   F-statistic:                    3.0464
 Date:                Mon, Apr 15 2019   P-value (F-stat)                0.0809
 Time:                        21:16:52   Distribution:                  chi2(1)
 Cov. Estimator:            unadjusted

                              Parameter Estimates
 ==============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
 ------------------------------------------------------------------------------
 constant      -1.8332     1.4485    -1.2655     0.2057     -4.6722      1.0059
 QIX_count      0.0243     0.0139     1.7454     0.0809     -0.0030      0.0516
 ==============================================================================

 Endogenous: QIX_count
 Instruments: T, Rank
 Unadjusted Covariance (Homoskedastic)
 Debiased: False
 IVResults, id: 0x1c214d31b00]

In [486]:
result = pd.DataFrame(index = ['QIX_count','QIX_countstd'])
for (i,y) in enumerate(Y_variable):
    std = reg_list[i].std_errors.round(2).reset_index()
    std.index = std['index'].apply(lambda x: x+'std')
    std = std['stderr'].astype(str).apply(lambda x: '(' + x + ')')
    result[y] = reg_list[i].params.round(2).append(std)
    result[y]['No. observations'] = reg_list[i].nobs
    result[y]['R-squared'] = np.abs(np.round(reg_list[i].rsquared,2))

In [487]:
print(result.to_latex())

\begin{tabular}{lllll}
\toprule
{} & salary\_share & bonus\_share & option\_share & LTIP\_share \\
\midrule
QIX\_count    &        -0.04 &         1.5 &         0.17 &       0.02 \\
QIX\_countstd &        (0.1) &      (0.76) &       (0.06) &     (0.01) \\
\bottomrule
\end{tabular}

In [490]:
IO_sum = pd.read_excel('IO_output.xlsx')

In [492]:
execucomp_panel

,Rank,Unnamed: 0,datadate,fyear,csho,ni,revt,prcc_f,mktcap,IO_percent,...,salary_share,bonus_share,stock_share,option_share,LTIP_share,Other_share,constant,LogMktcap,LogMktcap_may,T
0,800.0,5243,20011231,2001,191.493,-0.589100,18.799100,55.3800,1.060488e+07,15.812357,...,64.233947,15.259868,NaN,NaN,0.000000,0.990170,1,16.176825,14.309180,False
1,800.0,9055,20021231,2002,51.731,0.073847,0.661750,36.0500,1.864903e+06,86.488009,...,15.893034,28.984846,NaN,NaN,0.000000,1.232551,1,14.438719,14.285052,False
2,800.0,12354,20030630,2003,27.293,0.051256,0.247539,56.7000,1.547513e+06,NaN,...,21.621372,21.227745,NaN,NaN,0.000000,0.153782,1,14.252160,14.220800,False
3,800.0,16628,20041231,2004,57.752,0.081700,2.407200,34.3600,1.984359e+06,81.259592,...,18.195161,13.596635,NaN,NaN,0.000000,23.191133,1,14.500806,14.485976,False
4,800.0,17752,20050930,2005,41.702,0.262524,4.995353,58.6700,2.446656e+06,NaN,...,12.457912,61.560630,NaN,NaN,0.000000,6.017024,1,14.710233,14.613611,False
5,800.0,22099,20061231,2006,173.648,0.185527,1.014382,16.7000,2.899922e+06,18.048007,...,53.973868,2.075904,0.000000,6.605845,NaN,11.661566,1,14.880194,14.767344,False
17,801.0,1402,20001231,2000,64.686,0.081886,0.960773,23.6875,1.532250e+06,46.234774,...,42.743999,25.790806,NaN,NaN,0.000000,0.886199,1,14.242248,14.338548,False
18,801.0,6298,20020131,2001,143.989,0.000322,6.070568,10.0800,1.451409e+06,51.726892,...,25.859061,7.462029,NaN,NaN,0.000000,1.600113,1,14.188045,14.308648,False
19,801.0,8381,20021231,2002,40.539,0.090106,1.976732,31.8900,1.292789e+06,50.849923,...,38.130473,15.107429,NaN,NaN,0.000000,1.313894,1,14.072312,14.284782,False
20,801.0,12608,20031231,2003,63.405,0.070413,0.661897,22.8500,1.448804e+06,15.885229,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.186249,14.219294,False
21,801.0,15168,20041231,2004,80.687,0.111553,1.924057,29.1500,2.352026e+06,32.373769,...,34.433980,37.506856,NaN,NaN,16.098762,0.709874,1,14.670788,14.485128,False
22,801.0,17920,20060131,2005,99.477,0.172343,1.369752,31.6600,3.149442e+06,90.611839,...,21.842584,34.382332,NaN,NaN,0.000000,3.499224,1,14.962736,14.611970,False
23,801.0,24118,20061231,2006,81.179,0.224000,3.640000,25.4300,2.064382e+06,95.653708,...,8.989098,3.929988,30.746079,0.100148,NaN,8.375283,1,14.540341,14.765058,False
34,802.0,6106,20010930,2001,71.230,0.099557,1.004012,23.3000,1.659659e+06,78.962998,...,39.199297,21.656717,NaN,NaN,0.000000,24.823869,1,14.322123,14.300299,False
35,802.0,9994,20021231,2002,60.517,0.121140,0.547822,23.8000,1.440305e+06,16.451083,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.180365,14.281797,False
36,802.0,13712,20031231,2003,82.168,-0.048892,0.001018,28.0100,2.301526e+06,40.392939,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.649083,14.217100,False
37,802.0,16456,20041231,2004,42.416,0.093852,0.969764,60.7700,2.577620e+06,96.546032,...,15.740327,16.374972,NaN,NaN,0.000000,2.606417,1,14.762377,14.482764,False
38,802.0,22416,20061231,2006,53.697,0.146671,1.154940,47.4100,2.545775e+06,95.249994,...,23.939479,12.822988,25.659293,16.578441,NaN,10.574700,1,14.749946,14.763508,False
47,803.0,4971,20011231,2001,168.811,0.117171,10.194886,11.7900,1.990282e+06,76.117308,...,37.159508,36.267092,NaN,NaN,0.000000,7.329805,1,14.503787,14.299842,False
48,803.0,16892,20041231,2004,98.971,0.029000,12.011000,20.7000,2.048700e+06,21.928300,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.532716,14.479574,False
49,803.0,20781,20051231,2005,7.905,0.052334,1.095956,284.0000,2.245020e+06,57.307784,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.624225,14.608273,False
50,803.0,21259,20061231,2006,49.778,0.180359,0.788848,53.9500,2.685523e+06,62.332802,...,40.353353,0.000000,53.382340,0.000000,NaN,27.899512,1,14.803386,14.763291,False
60,804.0,2698,20001231,2000,67.880,0.170485,0.763294,25.5000,1.730940e+06,73.342006,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.364175,14.334991,False
61,804.0,6692,20011231,2001,73.361,0.111256,2.886605,22.7000,1.665295e+06,62.757318,...,3.150165,0.000000,NaN,NaN,0.000000,0.179286,1,14.325513,14.296054,False
62,804.0,8840,20020630,2002,49.576,0.091381,0.987829,38.3500,1.901240e+06,77.731599,...,28.747421,12.835969,NaN,NaN,0.000000,3.428529,1,14.458017,14.276557,False
63,804.0,18312,20051231,2005,66.139,-0.220484,1.877737,35.8500,2.371083e+06,31.911214,...,55.992574,7.144470,NaN,NaN,30.408233,6.201688,1,14.678857,14.607645,False
64,804.0,22744,20061231,2006,104.230,0.123700,2.235100,21.5300,2.244072e+06,89.366898,...,26.514098,0.000000,20.133645,21.828179,NaN,5.276190,1,14.623803,14.761861,False
75,805.0,1574,20001231,2000,65.692,-0.029735,0.194167,24.8750,1.634088e+06,61.630376,...,61.067628,38.932372,NaN,NaN,0.000000,0.000000,1,14.306596,14.333508,False
76,805.0,6492,20020131,2001,55.454,0.110777,17.197511,50.5200,2.801536e+06,92.993416,...,24.888125,13.550755,NaN,NaN,0.000000,2.982020,1,14.845678,14.295431,False
77,805.0,7015,20021231,2002,84.376,0.031834,0.344063,16.6800,1.407392e+06,79.265696,...,17.871504,9.244704,NaN,NaN,0.000000,4.096842,1,14.157249,14.273463,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5856,1193.0,18054,20051231,2005,61.321,-0.009356,2.155185,15.3200,9.394377e+05,90.948958,...,56.381396,1.049023,NaN,NaN,9.153119,0.000000,1,13.753037,14.012586,True
5867,1194.0,3089,20001231,2000,12.942,0.027495,0.114426,36.5000,4.723830e+05,63.459237,...,45.362264,18.335061,NaN,NaN,0.000000,0.000000,1,13.065545,13.656100,True
5868,1194.0,8841,20021231,2002,64.290,-0.776394,1.748681,4.3800,2.815902e+05,63.529754,...,16.798738,7.374211,NaN,NaN,0.000000,0.871657,1,12.548208,13.635237,True
5869,1194.0,13128,20031231,2003,57.994,0.066787,0.888026,18.0700,1.047952e+06,79.180650,...,20.667356,13.744476,NaN,NaN,0.000000,4.067007,1,13.862348,13.577994,True
5870,1194.0,15800,20041231,2004,27.602,0.055773,1.175268,46.3800,1.280181e+06,40.587758,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.062512,13.864566,True
5871,1194.0,20525,20051231,2005,21.491,0.056318,0.510984,63.9100,1.373490e+06,53.443641,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.132865,14.011204,True
5882,1195.0,2657,20000630,2000,40.703,0.049654,1.142993,12.5000,5.087875e+05,34.379378,...,21.710031,6.345769,NaN,NaN,0.000000,2.438219,1,13.139786,13.655004,True
5883,1195.0,4381,20010630,2001,17.807,0.015118,0.407946,48.2500,8.591877e+05,72.096535,...,39.982273,18.009731,NaN,NaN,0.000000,3.264947,1,13.663743,13.655474,True
5884,1195.0,10237,20020831,2002,18.678,0.054671,0.828403,38.1900,7.133128e+05,57.525289,...,25.444747,40.435016,NaN,NaN,9.155868,0.099914,1,13.477675,13.632935,True
5885,1195.0,12197,20031231,2003,30.086,0.021845,0.195966,27.6400,8.315770e+05,98.220193,...,10.673492,8.133855,NaN,NaN,0.000000,0.000000,1,13.631079,13.575844,True
5886,1195.0,15476,20050331,2004,86.564,-0.174094,0.425338,7.7500,6.708710e+05,80.122036,...,50.012432,0.000000,NaN,NaN,0.000000,7.873323,1,13.416332,13.864547,True
5887,1195.0,20206,20051231,2005,79.500,0.067859,0.735334,21.0500,1.673475e+06,89.815144,...,NaN,NaN,NaN,NaN,NaN,NaN,1,14.330413,14.010850,True
5888,1195.0,22098,20061130,2006,59.932,0.134213,1.472391,26.0700,1.562427e+06,82.507054,...,12.788582,13.397374,NaN,NaN,18.627433,54.425716,1,14.261751,14.165350,True
5898,1196.0,1523,20001231,2000,52.280,-0.048183,0.056878,5.4063,2.826414e+05,15.146445,...,NaN,NaN,NaN,NaN,NaN,NaN,1,12.551934,13.654308,True
5899,1196.0,5952,20011231,2001,91.017,-0.046100,2.654600,9.8000,8.919666e+05,85.015931,...,24.328284,7.981043,NaN,NaN,0.000000,1.722165,1,13.701184,13.653397,True
5900,1196.0,11940,20031231,2003,48.531,0.019737,0.245781,18.8300,9.138387e+05,69.408802,...,13.340366,7.949288,NaN,NaN,0.000000,0.000000,1,13.725409,13.572844,True
5909,1197.0,6100,20010630,2001,30.375,0.033571,0.422438,29.7600,9.039600e+05,73.825662,...,28.639028,12.317360,NaN,NaN,0.000000,7.730835,1,13.714540,13.650360,True
5910,1197.0,8345,20021231,2002,42.692,0.011333,0.771874,15.3300,6.544684e+05,90.203470,...,29.419960,12.796115,NaN,NaN,6.795403,2.670617,1,13.391579,13.630694,True
5911,1197.0,13369,20031231,2003,43.916,-0.004638,0.023787,14.8500,6.521526e+05,38.527403,...,NaN,NaN,NaN,NaN,NaN,NaN,1,13.388034,13.568558,True
5912,1197.0,14077,20040831,2004,42.596,0.067214,2.104167,23.0100,9.801340e+05,73.450596,...,18.407727,9.290339,NaN,NaN,4.861876,0.941912,1,13.795445,13.864440,True
5913,1197.0,23482,20061231,2006,101.819,0.058985,0.561589,14.6500,1.491648e+06,66.942140,...,59.323478,20.883758,90.882699,248.645878,NaN,13.476604,1,14.215392,14.158578,True
5924,1198.0,2300,20001231,2000,29.588,0.145607,6.642858,48.1250,1.423922e+06,40.222887,...,41.708116,46.119436,NaN,NaN,0.000000,3.732524,1,14.168926,13.653281,True
5925,1198.0,4996,20011231,2001,26.223,0.083342,0.469943,42.1500,1.105299e+06,6.291654,...,NaN,NaN,NaN,NaN,NaN,NaN,1,13.915627,13.649682,True
5926,1198.0,9453,20020630,2002,44.640,0.027476,1.259720,6.9200,3.089088e+05,64.004095,...,40.406217,15.257493,NaN,NaN,0.000000,12.245515,1,12.640801,13.629716,True
5927,1198.0,11223,20030630,2003,20.934,0.031428,0.214909,39.7400,8.319172e+05,83.939150,...,35.933193,21.274979,NaN,NaN,0.000000,2.397402,1,13.631488,13.567933,True
5928,1198.0,18012,20051231,2005,41.930,0.131440,3.904361,20.0100,8.390193e+05,NaN,...,20.752343,30.104675,NaN,NaN,0.000000,4.626689,1,13.639989,14.008403,True
5929,1198.0,21430,20061231,2006,25.826,0.050651,1.018587,36.9800,9.550455e+05,94.314389,...,21.894638,20.961062,6.102620,6.083948,NaN,10.628483,1,13.769514,14.158189,True
5940,1199.0,2520,20001231,2000,10.779,0.055405,0.279023,89.6875,9.667416e+05,18.513543,...,NaN,NaN,NaN,NaN,NaN,NaN,1,13.781686,13.652412,True
5941,1199.0,3786,20010630,2001,65.311,-0.119532,0.131244,9.7000,6.335167e+05,30.412705,...,NaN,NaN,NaN,NaN,NaN,NaN,1,13.359042,13.649306,True
5942,1199.0,15128,20041231,2004,25.359,0.063425,1.513172,52.6900,1.336166e+06,NaN,...,19.342742,23.306353,NaN,NaN,0.000000,0.270779,1,14.105315,13.863796,True

In [511]:
execucomp_panel['Rank1000'] = execucomp_panel['Rank'] - 1000

In [584]:
model = smf.ols('R1000 ~ Rank1000 + T + Rank1000*T + C(fyear)', data = execucomp_panel).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  R1000   R-squared:                       0.641
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                     404.0
Date:                Tue, 16 Apr 2019   Prob (F-statistic):               0.00
Time:                        09:25:12   Log-Likelihood:                -270.24
No. Observations:                2048   AIC:                             560.5
Df Residuals:                    2038   BIC:                             616.7
Df Model:                           9
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             -0.1734      0.023     -7.482      0.000      -0.219      -0.128
T[T.True]              0.1264      0.024      5.188      0.000       0.079       0.174
C(fyear)[T.2001]       0.0376      0.023      1.599      0.110      -0.009       0.084
C(fyear)[T.2002]       0.1175      0.023      5.053      0.000       0.072       0.163
C(fyear)[T.2003]       0.1461      0.023      6.270      0.000       0.100       0.192
C(fyear)[T.2004]       0.1401      0.023      5.978      0.000       0.094       0.186
C(fyear)[T.2005]       0.1736      0.023      7.450      0.000       0.128       0.219
C(fyear)[T.2006]       0.2151      0.023      9.263      0.000       0.170       0.261
Rank1000              -0.0062      0.000    -41.507      0.000      -0.006      -0.006
Rank1000:T[T.True]     0.0059      0.000     27.939      0.000       0.006       0.006
==============================================================================
Omnibus:                      482.278   Durbin-Watson:                   1.855
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1510.484
Skew:                           1.177   Prob(JB):                         0.00
Kurtosis:                       6.487   Cond. No.                     1.02e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [515]:
import os
from os import listdir
from os.path import isfile, join
R1000_file = './russell/1000'
R2000_file = './russell/2000'
import matplotlib.pyplot as plt
%matplotlib notebook

In [517]:
R1000_filename= os.listdir(R1000_file)
R2000_filename=os.listdir(R2000_file)

In [525]:
R1000_list = pd.DataFrame(columns = ['Year','Ticker','Price'])
for file in R1000_filename:
    temp = pd.read_excel(os.path.join(os.getcwd(), R1000_file, file))
    temp = temp[['Ticker','Price']]
    temp['Ticker'] = temp['Ticker'].apply(lambda x: x[:-9])
    temp['Year'] = file[-10:-6]
    R1000_list = R1000_list.append(temp, ignore_index = True)
    
R2000_list = pd.DataFrame(columns = ['Year','Ticker','Price'])
for file in R2000_filename:
    temp = pd.read_excel(os.path.join(os.getcwd(), R2000_file, file))
    temp = temp[['Ticker','Price']]
    temp['Ticker'] = temp['Ticker'].apply(lambda x: x[:-9])
    temp['Year'] = file[-10:-6]
    R2000_list = R2000_list.append(temp, ignore_index = True)
    
R2000_list['Membership'] = 'R2000'
R1000_list['Membership'] = 'R1000'

Russell_all = R1000_list.append(R2000_list, ignore_index = True)

In [541]:
mktcap_may = pd.read_excel('MktCap_may.xlsx')

In [552]:
Russell_all['year'] = Russell_all['Year'].apply(lambda x: parse(x).year)
Russell_all['year'] = Russell_all['year'].astype(int)
mktcap_may = mktcap_may.groupby(['TICKER','Year']).first()
#Russell_all['Ticker'] = Russell_all['Ticker'].apply(lambda x: x[:-1])

In [558]:
mktcap_may['R2000'] = Russell_all.groupby(['Ticker','year']).first()['R2000']

In [566]:
mktcap_may['T'] = mktcap_may['Rank'] > 1000
mktcap_may['Rank1000'] = mktcap_may['Rank'] - 1000

In [610]:
#mktcap_may_pre2007 = mktcap_may.reset_index()[mktcap_may.reset_index()['Year'] < 2007]
#mktcap_may_pre2007 = mktcap_may_pre2007.dropna()
model = smf.ols('R2000 ~ Rank1000 + T + Rank1000*T + C(Year)', data = mktcap_may_pre2007).fit()

In [611]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  R2000   R-squared:                       0.835
Model:                            OLS   Adj. R-squared:                  0.835
Method:                 Least Squares   F-statistic:                     8179.
Date:                Tue, 16 Apr 2019   Prob (F-statistic):               0.00
Time:                        09:31:53   Log-Likelihood:                 3216.4
No. Observations:               14537   AIC:                            -6413.
Df Residuals:                   14527   BIC:                            -6337.
Df Model:                           9
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              0.3553      0.007     52.903      0.000       0.342       0.368
T[T.True]              0.6511      0.006    100.466      0.000       0.638       0.664
C(Year)[T.2001]       -0.0071      0.006     -1.116      0.265      -0.019       0.005
C(Year)[T.2002]       -0.0154      0.006     -2.461      0.014      -0.028      -0.003
C(Year)[T.2003]       -0.0227      0.006     -3.657      0.000      -0.035      -0.011
C(Year)[T.2004]       -0.0199      0.006     -3.215      0.001      -0.032      -0.008
C(Year)[T.2005]       -0.0252      0.006     -4.090      0.000      -0.037      -0.013
C(Year)[T.2006]       -0.0326      0.006     -5.324      0.000      -0.045      -0.021
Rank1000               0.0005   9.01e-06     53.616      0.000       0.000       0.001
Rank1000:T[T.True]    -0.0005    9.8e-06    -50.312      0.000      -0.001      -0.000
==============================================================================
Omnibus:                     2828.021   Durbin-Watson:                   1.317
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            83703.220
Skew:                          -0.160   Prob(JB):                         0.00
Kurtosis:                      14.751   Cond. No.                     9.16e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.16e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [603]:
mktcap_may_pre2007['R2000'] = mktcap_may_pre2007['R2000'].astype(int)

In [600]:
mktcap_may_pre2007.dtypes

TICKER         object
Year            int64
Unnamed: 0      int64
MarketCap     float64
Rank          float64
R2000           int32
T                bool
Rank1000      float64
dtype: object